# CBS Buurtcode koppelen aan PC4

In [1]:
import pandas as pd
import numpy as np
import os
import glob
import zipfile

In [3]:
# show all columns in the dataframe
pd.set_option('max_columns', None)

In [2]:
# variables used in script
data_location = '../data/raw'

if 'raqw' not in os.getcwd():
    os.chdir(data_location)

In [4]:
file = 'pc6-gwb2020.csv'

In [5]:
df_brt = pd.read_csv(file, sep=';', thousands='.', decimal=',',  encoding= 'utf-8')

In [7]:
# 4 cijferige postcode uit PC6 halen
df_brt['PC4'] = df_brt['PC6'].astype(str).str[0:4]

In [8]:
df_brt.head()

      PC6  Buurt2020  Wijk2020  Gemeente2020   PC4
0  1011AB    3630400     36304           363  1011
1  1011AC    3630400     36304           363  1011
2  1011AD    3630400     36304           363  1011
3  1011AE    3630400     36304           363  1011
4  1011AG    3630403     36304           363  1011

In [21]:
# meest voorkomende PC4 per buurtcode
df2 = pd.DataFrame(df_brt.groupby(['Buurt2020'])['PC4'].agg(lambda x:x.value_counts().index[0])).reset_index()

In [22]:
df2.head()

   Buurt2020   PC4
0      30000  9901
1      30001  9903
2      30002  9902
3      30007  9902
4      30008  9902

In [23]:
df2['Buurt2020'].value_counts()

19660800    1
3030701     1
19521201    1
5031602     1
15070900    1
           ..
17083200    1
2440002     1
1411908     1
1770309     1
9570303     1
Name: Buurt2020, Length: 13729, dtype: int64

# ht5 file opslaan

In [24]:
# data locatie om de ht5 file op te slaan
data_processed_location = '../processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

In [26]:
try:
    os.remove('cbs_buurt_pc4.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('cbs_buurt_pc4.h5')
store['cbs_buurt_pc4'] = df2
store.close()