In [3]:
# over welke periode gaat het dataframe: 10 jaar
# aggregratie op jaar niveau, eventueel later op week niveau

# welke X-en:
# PC4
# LON 
# LAT
# Res Regio
# Gemeente
# tem: hoe warm was het jaar?

# sjv_totaal
# factor_maand
# factor
# week_verbruik_kw
# laadpalen
# electrische auto's
# warmtepompen
# Opwekking zonneenergie
# Opwekking Windenergie
# Decentrale opwekgegevens
# Knelpunt indicatie (Provincie?)

In [42]:
import pandas as pd
import numpy as np
import os
import glob
import zipfile
import seaborn as sns

In [43]:
# show all columns in the dataframe
pd.set_option('max_columns', None)

In [44]:
# variables used in script
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

In [45]:
#os.getcwd()

# Alle ht5 dataframes inlezen

In [46]:
# meteo data inlezen
df_meteo = pd.read_hdf('meteo_data.h5')

In [47]:
# decentrale_opwekkingsgegevens gegevens inlezen
df_opwek = pd.read_hdf('decentrale_opwekkingsgegevens_data.h5')

In [48]:
# kleinverbruikgegevens gegevens inlezen
df_verbruik = pd.read_hdf('kleinverbruikgegevens_data.h5')

In [49]:
# mapping van CBS buurt naar PC4
df_cbs_buurt_pc4 = pd.read_hdf('cbs_buurt_pc4.h5')

In [50]:
df_meteo.head()

,STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,FXXH,TG,TN,TNH,TX,TXH,T10N,T10NH,SQ,SP,Q,DR,RH,RHX,RHXH,PG,PX,PXH,PN,PNH,VVN,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24,LOC,LAT,LNG
0,209,20010130,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IJmond,52.496506,4.658565
1,209,20010131,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IJmond,52.496506,4.658565
2,209,20010201,236,13,24,50,8,10,1,90,20,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IJmond,52.496506,4.658565
3,209,20010202,150,46,58,80,9,10,3,100,9,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IJmond,52.496506,4.658565
4,209,20010203,106,65,66,90,8,50,1,120,8,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,IJmond,52.496506,4.658565

In [51]:
df_opwek.head()

,Peildatum,Netbeheerder,Provincie,Gemeente,CBS Buurt,CBS Buurtcode,Aantal aansluitingen in CBS-buurt,Aantal aansluitingen met opwekinstallatie,Opgesteld vermogen
0,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-Centrum,30000,1480,155,507
1,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-West,30001,1331,479,1685
2,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-Oost,30002,2826,439,1616
3,2020-01-01,Enexis,Groningen,Appingedam,Verspreide huizen Damsterdiep en Eemskanaal,30007,230,97,405
4,2020-01-01,Enexis,Groningen,Appingedam,Verspreide huizen ten zuiden van Eemskanaal,30008,102,21,61

In [52]:
df_verbruik.head()

,NETBEHEERDER,NETGEBIED,STRAATNAAM,POSTCODE_VAN,POSTCODE_TOT,WOONPLAATS,LANDCODE,PRODUCTSOORT,VERBRUIKSSEGMENT,LEVERINGSRICHTING_PERC,AANSLUITINGEN_AANTAL,FYSIEKE_STATUS_PERC,SOORT_AANSLUITING_PERC,SOORT_AANSLUITING,SJV_GEMIDDELD,SJV_LAAG_TARIEF_PERC,SLIMME_METER_PERC,JAAR,PC4,SJV_TOTAAL
0,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,NL,ELK,KVB,100.0,16,100,0.0,Onbekend,4282.0,25.0,0.0,2010.0,4251,69.0
1,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,NL,ELK,KVB,100.0,11,100,0.0,Onbekend,5113.0,10.0,0.0,2010.0,4251,56.0
2,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,NL,ELK,KVB,100.0,30,100,0.0,Onbekend,4809.0,34.0,0.0,2010.0,4251,144.0
3,Enexis B.V.,ENEXIS,Nieuweweg,4251AE,4251AG,WERKENDAM,NL,ELK,KVB,100.0,21,100,0.0,Onbekend,5015.0,44.0,0.0,2010.0,4251,105.0
4,Enexis B.V.,ENEXIS,Koppenhof,4251AH,4251AH,WERKENDAM,NL,ELK,KVB,100.0,12,100,0.0,Onbekend,3074.0,22.0,0.0,2010.0,4251,37.0

In [53]:
df_cbs_buurt_pc4.head()

   Buurt2020   PC4
0      30000  9901
1      30001  9903
2      30002  9902
3      30007  9902
4      30008  9902

In [54]:
#df_verbruik['LEVERINGSRICHTING_PERC'].value_counts()

In [55]:
#df_verbruik.describe()

# Nieuw master dataframe maken

In [56]:
# maak nieuw dataframe met de jaren
df = pd.DataFrame(pd.date_range(start='1/1/2010', end='31/12/2020' , freq='Y')
                  , columns=['DATUM']
                  ).sort_values(by='DATUM', ascending=False )

# dataframe met de dagen
# df = pd.DataFrame(pd.date_range(start='1/1/2010', end='31/12/2020')
#                   , columns=['datum']
#                  ).sort_values(by='datum', ascending=False )

In [57]:
# verschillende tijsperiode attributen toeveoegen

df['JAAR'] = df['DATUM'].dt.year
#df['maand'] = df['datum'].dt.to_period('M')
#df['maand_van_jaar'] = df['datum'].dt.month
#df['dag_van_week'] = df['datum'].dt.dayofweek

In [58]:
df.head()

        DATUM  JAAR
10 2020-12-31  2020
9  2019-12-31  2019
8  2018-12-31  2018
7  2017-12-31  2017
6  2016-12-31  2016

# df_vebruik toevoegen aan dataframe

In [59]:
# df_verbruik is nog per pc6, dus eerst omzetten naar pc4
df_verbruik_pc4 = df_verbruik.groupby(['PC4','JAAR']
                                      , as_index=False
                                     ).agg({'SJV_TOTAAL': 'sum'
                                            ,'AANSLUITINGEN_AANTAL': 'sum'  
                                            ,'LEVERINGSRICHTING_PERC': 'mean'
                                           }
                                          )

In [60]:
df_verbruik_pc4.head()

    PC4    JAAR  SJV_TOTAAL  AANSLUITINGEN_AANTAL  LEVERINGSRICHTING_PERC
0  4251  2010.0     21882.0                  4336               99.953917
1  4251  2011.0     23084.0                  4413               99.953917
2  4251  2012.0     24006.0                  4486               99.854545
3  4251  2013.0     23728.0                  4512               99.660633
4  4251  2014.0     23623.0                  4544               99.094595

In [61]:
# join df met df_verbruik
# join on jaar
df = pd.merge(df, df_verbruik_pc4, on='JAAR', how='left')

In [62]:
df.head()

,DATUM,JAAR,PC4,SJV_TOTAAL,AANSLUITINGEN_AANTAL,LEVERINGSRICHTING_PERC
0,2020-12-31,2020,4251,22134.0,4720,90.727000
1,2020-12-31,2020,4254,10378.0,2459,82.676500
2,2020-12-31,2020,4255,6241.0,1659,78.740759
3,2020-12-31,2020,4261,12698.0,2554,89.275259
4,2020-12-31,2020,4264,7193.0,1297,92.215918

# df_opwek toevoegen aan dataframe

In [63]:
df_opwek.head()

,Peildatum,Netbeheerder,Provincie,Gemeente,CBS Buurt,CBS Buurtcode,Aantal aansluitingen in CBS-buurt,Aantal aansluitingen met opwekinstallatie,Opgesteld vermogen
0,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-Centrum,30000,1480,155,507
1,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-West,30001,1331,479,1685
2,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-Oost,30002,2826,439,1616
3,2020-01-01,Enexis,Groningen,Appingedam,Verspreide huizen Damsterdiep en Eemskanaal,30007,230,97,405
4,2020-01-01,Enexis,Groningen,Appingedam,Verspreide huizen ten zuiden van Eemskanaal,30008,102,21,61

In [64]:
# jaar toevoegen
# 2020-07-01 verwijderen
# de maand van de peildatum moet januari zijn
df_opwek = df_opwek[df_opwek['Peildatum'].dt.month == 1]

# 2020-01-01 wordt 2019
# 2021-01-01 wordt 2020
df_opwek['JAAR'] = df_opwek['Peildatum'].dt.year - 1

In [65]:
print(df_opwek['Peildatum'].value_counts())
print(df_opwek['JAAR'].value_counts())

2021-01-01    4139
2020-01-01    3890
Name: Peildatum, dtype: int64
2020    4139
2019    3890
Name: JAAR, dtype: int64

In [66]:
# pc4 toevoegen obv CBS buurtcode
df_cbs_buurt_pc4.head()

   Buurt2020   PC4
0      30000  9901
1      30001  9903
2      30002  9902
3      30007  9902
4      30008  9902

In [67]:
df_cbs_buurt_pc4 = df_cbs_buurt_pc4.rename(columns={'Buurt2020': 'CBS Buurtcode'})

In [68]:
#df_opwek = pd.merge(df_opwek, df_cbs_buurt_pc4, left_on='CBS Buurtcode', right_on='Buurt2020', how='left', suffixes=('','_2'))
df_opwek = pd.merge(df_opwek, df_cbs_buurt_pc4, on='CBS Buurtcode', how='left', suffixes=('','_2'))

In [69]:
df_opwek.head()

,Peildatum,Netbeheerder,Provincie,Gemeente,CBS Buurt,CBS Buurtcode,Aantal aansluitingen in CBS-buurt,Aantal aansluitingen met opwekinstallatie,Opgesteld vermogen,JAAR,PC4
0,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-Centrum,30000,1480,155,507,2019,9901
1,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-West,30001,1331,479,1685,2019,9903
2,2020-01-01,Enexis,Groningen,Appingedam,Appingedam-Oost,30002,2826,439,1616,2019,9902
3,2020-01-01,Enexis,Groningen,Appingedam,Verspreide huizen Damsterdiep en Eemskanaal,30007,230,97,405,2019,9902
4,2020-01-01,Enexis,Groningen,Appingedam,Verspreide huizen ten zuiden van Eemskanaal,30008,102,21,61,2019,9902

In [70]:
# df_opwek group by PC4 en JAAR
df_opwek_pc4 = df_opwek.groupby(['PC4','JAAR'], as_index=False).agg({'Gemeente':'max'
                                                                     , 'Aantal aansluitingen in CBS-buurt': 'sum'
                                                                     , 'Aantal aansluitingen met opwekinstallatie':'sum'
                                                                     , 'Opgesteld vermogen':'sum'
                                                                    }
                                                                   )

In [71]:
df_opwek_pc4 = df_opwek_pc4.rename(columns={'Aantal aansluitingen in CBS-buurt': 'AANTAL AANSLUITINGEN IN PC4'
                                            , 'Gemeente': 'GEMEENTE'
                                            , 'Aantal aansluitingen met opwekinstallatie': 'AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE'
                                            , 'Opgesteld vermogen': 'OPGESTELD VERMOGEN'
                                           }
                                  )

In [72]:
df_opwek_pc4.head()

,PC4,JAAR,GEMEENTE,AANTAL AANSLUITINGEN IN PC4,AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE,OPGESTELD VERMOGEN
0,4251,2019,Altena,1922,117,335
1,4261,2019,Altena,289,39,197
2,4264,2019,Altena,1179,76,383
3,4265,2019,Altena,615,79,458
4,4266,2019,Altena,239,34,119

In [81]:
df_opwek_pc4['PC4'].value_counts()

8035    2
9734    2
5351    2
7924    2
7885    2
       ..
5643    1
9974    1
5014    1
9356    1
9908    1
Name: PC4, Length: 1336, dtype: int64

In [73]:
df_opwek_pc4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2439 entries, 0 to 2438
Data columns (total 6 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   PC4                                        2439 non-null   object
 1   JAAR                                       2439 non-null   int64
 2   GEMEENTE                                   2439 non-null   object
 3   AANTAL AANSLUITINGEN IN PC4                2439 non-null   int32
 4   AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE  2439 non-null   int32
 5   OPGESTELD VERMOGEN                         2439 non-null   int32
dtypes: int32(3), int64(1), object(2)
memory usage: 104.8+ KB

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17130 entries, 0 to 17129
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DATUM                                      17130 non-null  datetime64[ns]
 1   JAAR                                       17130 non-null  int64
 2   PC4                                        17130 non-null  object
 3   SJV_TOTAAL                                 17130 non-null  float64
 4   AANSLUITINGEN_AANTAL                       17130 non-null  int64
 5   LEVERINGSRICHTING_PERC                     17130 non-null  float64
 6   GEMEENTE                                   2436 non-null   object
 7   AANTAL AANSLUITINGEN IN PC4                2436 non-null   float64
 8   AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE  2436 non-null   float64
 9   OPGESTELD VERMOGEN                         2436 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 1.4+ MB

In [82]:
df['PC4'].value_counts()

9603    11
5667    11
7754    11
9685    11
5247    11
        ..
7647     1
7928     1
7608     1
7610     1
6040     1
Name: PC4, Length: 1645, dtype: int64

In [75]:
# join df met df_opwek_pc4
# join on jaar en pc4
df = pd.merge(df, df_opwek_pc4, on=['JAAR','PC4'], how='left')

In [76]:
df.head()

,DATUM,JAAR,PC4,SJV_TOTAAL,AANSLUITINGEN_AANTAL,LEVERINGSRICHTING_PERC,GEMEENTE,AANTAL AANSLUITINGEN IN PC4,AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE,OPGESTELD VERMOGEN
0,2020-12-31,2020,4251,22134.0,4720,90.727000,NaN,NaN,NaN,NaN
1,2020-12-31,2020,4254,10378.0,2459,82.676500,NaN,NaN,NaN,NaN
2,2020-12-31,2020,4255,6241.0,1659,78.740759,NaN,NaN,NaN,NaN
3,2020-12-31,2020,4261,12698.0,2554,89.275259,NaN,NaN,NaN,NaN
4,2020-12-31,2020,4264,7193.0,1297,92.215918,NaN,NaN,NaN,NaN

In [83]:
df['AANTAL AANSLUITINGEN IN PC4'].value_counts()

85.0      7
392.0     6
489.0     6
174.0     6
108.0     6
         ..
339.0     1
305.0     1
5453.0    1
5102.0    1
4234.0    1
Name: AANTAL AANSLUITINGEN IN PC4, Length: 1751, dtype: int64

In [85]:
df_opwek_pc4[df_opwek_pc4['PC4'] == '4251']

,PC4,JAAR,GEMEENTE,AANTAL AANSLUITINGEN IN PC4,AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE,OPGESTELD VERMOGEN
0,4251,2019,Altena,1922,117,335

In [87]:
df[df['PC4'] == '4251']

,DATUM,JAAR,PC4,SJV_TOTAAL,AANSLUITINGEN_AANTAL,LEVERINGSRICHTING_PERC,GEMEENTE,AANTAL AANSLUITINGEN IN PC4,AANTAL AANSLUITINGEN MET OPWEKINSTALLATIE,OPGESTELD VERMOGEN
0,2020-12-31,2020,4251,22134.0,4720,90.727000,NaN,NaN,NaN,NaN
1578,2019-12-31,2019,4251,22391.0,4720,93.148667,Altena,1922.0,117.0,335.0
3154,2018-12-31,2018,4251,22680.0,4713,95.753042,NaN,NaN,NaN,NaN
4731,2017-12-31,2017,4251,22742.0,4661,97.408889,NaN,NaN,NaN,NaN
6268,2016-12-31,2016,4251,22645.0,4581,97.991071,NaN,NaN,NaN,NaN
7776,2015-12-31,2015,4251,22848.0,4570,98.408072,NaN,NaN,NaN,NaN
9340,2014-12-31,2014,4251,23623.0,4544,99.094595,NaN,NaN,NaN,NaN
10905,2013-12-31,2013,4251,23728.0,4512,99.660633,NaN,NaN,NaN,NaN
12468,2012-12-31,2012,4251,24006.0,4486,99.854545,NaN,NaN,NaN,NaN
14026,2011-12-31,2011,4251,23084.0,4413,99.953917,NaN,NaN,NaN,NaN
15580,2010-12-31,2010,4251,21882.0,4336,99.953917,NaN,NaN,NaN,NaN

# Save dataframe

In [88]:
# data locatie om de ht5 file op te slaan
data_processed_location = '../processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

In [90]:
try:
    os.remove('master_data.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('master_data.h5')
store['master_data'] = df
store.close()