In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import time

# show all columns in the dataframe
pd.set_option('max_columns', None)
pd.set_option("display.precision", 8)

In [2]:
os.getcwd()

'C:\\Users\\MarcelKoolwijk\\Documents\\SQL\\jads_enexis\\notebooks'

In [3]:
# variables used in script
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

# NEDU profielen
df_nedu_profielen = pd.read_hdf('nedu_files.h5')

# Profiel per dag

In [4]:
from datetime import datetime
import math

# Voeg een datum kolom toe zodat we kunnen aggreren per datum per profiel
def haal_datum_op(datum):
    datum = pd.to_datetime(datum)
    # Laatste rij is blijkbaar NaN. 
    if math.isnan(datum.year):
        return ''
    return datetime(datum.year,datum.month,datum.day)
df_nedu_profielen["DATUM"] = np.vectorize(haal_datum_op)(df_nedu_profielen.DatumTijd)

# Groepeer op datum en sommeer de profielen die we nodig hebben
df_nedu_gereduceerd = df_nedu_profielen.groupby('DATUM').agg({'E1A':'sum', 'E1B':'sum', 'E1C':'sum', 'E2A':'sum', 'E2B':'sum'})

# Sorteer op datum
df_nedu_gereduceerd = df_nedu_gereduceerd.sort_values(by='DATUM')
print (f"Aantal rijen in de NEDU set = {df_nedu_gereduceerd.shape[0]}")

# Check de eerste paar rijen.
df_nedu_gereduceerd.head()

Aantal rijen in de NEDU set = 4384

                   E1A         E1B         E1C         E2A         E2B
DATUM
2010-01-01  0.00323121  0.00331064  0.00342988  0.00196902  0.00250638
2010-01-02  0.00344795  0.00351351  0.00362044  0.00233157  0.00306114
2010-01-03  0.00331398  0.00344767  0.00339365  0.00199698  0.00265303
2010-01-04  0.00327535  0.00330301  0.00332266  0.00299861  0.00310272
2010-01-05  0.00323160  0.00317549  0.00322126  0.00313427  0.00325390

In [5]:
df_nedu_e1a = pd.DataFrame(df_nedu_gereduceerd['E1A']).reset_index().rename(columns={"DATUM": "ds", "E1A": "y"})
df_nedu_e1b = pd.DataFrame(df_nedu_gereduceerd['E1B']).reset_index().rename(columns={"DATUM": "ds", "E1B": "y"})
df_nedu_e1c = pd.DataFrame(df_nedu_gereduceerd['E1C']).reset_index().rename(columns={"DATUM": "ds", "E1C": "y"})
df_nedu_e2a = pd.DataFrame(df_nedu_gereduceerd['E2A']).reset_index().rename(columns={"DATUM": "ds", "E2A": "y"})
df_nedu_e2b = pd.DataFrame(df_nedu_gereduceerd['E2B']).reset_index().rename(columns={"DATUM": "ds", "E2B": "y"})

In [6]:
df_nedu_e1a

             ds           y
0    2010-01-01  0.00323121
1    2010-01-02  0.00344795
2    2010-01-03  0.00331398
3    2010-01-04  0.00327535
4    2010-01-05  0.00323160
...         ...         ...
4379 2021-12-28  0.00345675
4380 2021-12-29  0.00363576
4381 2021-12-30  0.00352695
4382 2021-12-31  0.00337718
4383 2022-01-01  0.00003751

[4384 rows x 2 columns]

In [7]:
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

try:
    os.remove('nedu_e1a.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('nedu_e1a.h5')
store['nedu_e1a'] = df_nedu_e1a
store.close()

In [8]:
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

try:
    os.remove('nedu_e1b.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('nedu_e1b.h5')
store['nedu_e1b'] = df_nedu_e1b
store.close()

In [9]:
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

try:
    os.remove('nedu_e1c.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('nedu_e1c.h5')
store['nedu_e1c'] = df_nedu_e1c
store.close()

In [10]:
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

try:
    os.remove('nedu_e2a.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('nedu_e2a.h5')
store['nedu_e2a'] = df_nedu_e2a
store.close()

In [11]:
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

try:
    os.remove('nedu_e2b.h5')
except:
    print ('File nog in gebruik of niet gevonden')

store = pd.HDFStore('nedu_e2b.h5')
store['nedu_e2b'] = df_nedu_e2b
store.close()